# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# --- Environment & Secrets ---
.env
.secrets

# --- OS Specific ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDE Specific ---
.vscode/
.idea/
*.swp
*.swo